/* Estilos Globales */
body {
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    margin-top: 50px;
    padding: 0;
    background-color: #faf8eb;
    color: #333;
}

h1,
h2,
h3 {
    font-weight: 600;
    color: #232d3b;
}

.main-content {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.main-content-full {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.favicon {
    width: 6px;
    height: 5px;
}